.container {
     display: grid;
    grid-template-columns:100px 100px 100px;
    grid-template-columns: 100px 100px;
    height: 600px;
    width: 600px;
}

.card1{
    display: grid;
      background-color:blue;
      grid-area: 1/1/1/1;
     height: 600px;
    width: 600px;

    

}

   .card2{
      display: grid;
       background-color:pink;
       height: 500px;
       width: 400px;
       grid-area: 1/2/2/2;
       

}  

    .card3{
    
    display: grid;
       background-color:violet;
       height: 400px;
       width: 400px;
       grid-area: 1/3/3/3;
        

}

    .card4{
    
    display: grid;
          background-color:green;
          height: 900px;
         width: 300px;
          grid-area: 1/4/4/4;
    

}

    